@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif; }

main h2 {
  font-size: 1.4rem;
  padding: 1.4rem;
  margin: 0; }

main h4, p {
  margin: 0;
  padding: 0; }

header h1 {
  font-family: 'Shrikhand', serif;
  text-align: center;
  font-size: 3rem;
  box-shadow: 0px 4px 4px 0px #7e7e7e;
  margin: 0px;
  position: relative; }

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #eaeaea;
  text-align: center;
  padding: 0.4rem; }

.discovery {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  align-items: center;
  padding-bottom: 60px; }
  .discovery h2 {
    font-size: 35px;
    text-align: center; }
  .discovery button {
    color: white;
    padding: 1rem 2rem;
    margin-top: 18px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(351deg, #9356dc, #ff79da);
    text-align: center;
    transition: transform 100ms;
    cursor: pointer;
    box-shadow: 1px 4px 5px 1px #c9c8c8; }
  .discovery button:hover {
    transform: scale(1.01);
    opacity: 0.9;
    box-shadow: 1px 4px 5px 1px #c9c8c8; }

section.choice h2 {
  padding: 34px 122px; }
  @media only screen and (max-width: 768px) {
    section.choice h2 {
      padding: 1.4rem; } }

.choice {
  counter-reset: numbers;
  /* & h2 {
        font-size: 1.4rem;
        padding: 1.4em;
    }
    */ }
  .choice ol {
    display: flex;
    gap: 2rem;
    padding-right: 7rem;
    padding-left: 7rem;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 768px) {
      .choice ol {
        flex-direction: column;
        padding: 1.4rem; } }
  .choice li {
    display: flex;
    position: relative;
    background-color: #f6f6f6;
    padding: 1rem 2.2rem;
    border-radius: 1rem;
    flex-grow: 1;
    cursor: pointer;
    box-shadow: 1px 4px 5px 1px #c9c8c8; }
    .choice li::before {
      content: counter(numbers) " ";
      counter-increment: numbers;
      color: white;
      background: #9356dc;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      place-items: center;
      position: absolute;
      bottom: 50%;
      left: -0.8rem;
      transform: translateY(50%); }
    .choice li:hover {
      background-color: rgba(146, 84, 220, 0.2);
      transition: 0.4s ease-in;
      opacity: 2;
      transform: scale(1.01); }
  .choice i.fas {
    color: #7e7e7e;
    margin-right: 0.70rem; }

section.restaurants {
  background-color: #f6f6f6;
  padding: 0 100px; }
  @media only screen and (max-width: 768px) {
    section.restaurants {
      padding: 0; } }

.restaurants {
  margin-bottom: 2rem;
  max-width: 100%; }
  .restaurants a {
    text-decoration: none;
    color: inherit; }
  .restaurants .resto {
    margin-bottom: 2rem; }
  .restaurants .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem; }
    @media only screen and (max-width: 768px) {
      .restaurants .cards {
        display: flex;
        flex-direction: column; } }
    .restaurants .cards .card__new {
      background-color: #f6f6f6;
      border-radius: 0rem 0rem 1rem 1rem;
      padding-bottom: 4%;
      position: relative;
      margin: 1rem; }
      .restaurants .cards .card__new .fas {
        color: transparent;
        background-image: linear-gradient(#9356dc, #ff79da);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: 0.5s ease-out; }
      .restaurants .cards .card__new .fas:hover {
        opacity: 1; }
    .restaurants .cards .card__new::before {
      content: "Nouveau";
      position: absolute;
      text-align: center;
      background-color: #99e2d0;
      color: #299077;
      height: 1.7rem;
      width: 4.4rem;
      top: 1rem;
      right: 1rem;
      padding: .3rem;
      font-size: 1rem;
      border-radius: .125rem; }
    .restaurants .cards .card {
      background-color: #f6f6f6;
      border-radius: 0rem 0rem 1rem 1rem;
      padding-bottom: 4%;
      margin: 1rem; }
      .restaurants .cards .card__img {
        border-radius: 1rem 1rem 0rem 0rem;
        background-image: url(../../assets/1la_palette_du_gout.jpg), url(../../assets/2la_note_enchantee.jpg), url(../../assets/3a_la_française.jpg), url(../../assets/4le_delice_des_sens.jpg);
        background-size: cover;
        background-position: left;
        height: 14rem; }
      .restaurants .cards .card__content {
        position: relative; }
        .restaurants .cards .card__content h3, .restaurants .cards .card__content p {
          margin: 0.5rem; }
        .restaurants .cards .card__content i {
          font-size: 1.4rem;
          position: absolute;
          bottom: 50%;
          transform: translateY(50%);
          right: 1rem;
          cursor: pointer; }
      .restaurants .cards .card .fas {
        color: transparent;
        background-image: linear-gradient(#9356dc, #ff79da);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: 0.5s ease-out; }
      .restaurants .cards .card .fas:hover {
        opacity: 1; }

footer {
  background-color: #353535;
  padding: 1.4rem;
  line-height: 30px;
  cursor: pointer; }
  @media only screen and (min-width: 768px) {
    footer {
      display: flex;
      justify-content: center;
      gap: 2.2rem; } }
  footer a {
    color: white;
    text-decoration: none; }
  footer .footer__logo {
    font-family: 'Shrikhand', serif;
    font-size: 1.4rem; }

@keyframes spin {
  0% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(0); } }

@keyframes pop {
  0% {
    transform: translateY(-50%);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-20px); } }

@keyframes Appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes Disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none;
    z-index: -1; } }

.loader {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  width: 100vw;
  height: 100vh;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: Disappear 0s 2.2s forwards;
  z-index: 100000; }

.dot {
  width: 20px;
  height: 20px;
  border-radius: 34%;
  background-color: #9356dc;
  margin: 0 10px;
  animation: bounce 0.4s infinite alternate;
  animation-delay: 0.2s; }
  .dot__d2 {
    animation-delay: 0.4s;
    background-color: #ff79da; }
  .dot__d3 {
    animation-delay: 0.6s;
    background-color: #99e2d0; }
  .dot__d4 {
    animation-delay: 0.8s;
    background-color: #7e7e7e; }

header {
  position: relative;
  width: 100%; }
  header .back-button {
    position: absolute;
    font-size: 30px;
    color: black;
    left: 16px;
    top: 14px;
    padding: 10px;
    z-index: 1; }

.img__menu {
  width: 100%;
  max-width: 100%;
  max-height: 24rem;
  object-fit: cover; }

.menu__title {
  padding-bottom: 4rem; }
  .menu__title h2 {
    font-family: 'Shrikhand', serif; }

.menu h3 {
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 10px;
  width: 4rem; }
  @media only screen and (min-width: 768px) {
    .menu h3 {
      margin: auto;
      padding-bottom: 4px; } }

.menu {
  padding-bottom: 30px;
  position: relative;
  background-color: #f6f6f6;
  margin-top: -35px;
  border-radius: 1rem 1rem 0rem 0rem; }
  .menu .menu__title .far {
    font-size: 1.4rem;
    position: absolute;
    top: 2%;
    transform: translateY(1%);
    right: 1rem; }
  .menu .menu__title .fas {
    font-size: 1.4rem;
    position: absolute;
    top: 2%;
    transform: translateY(1%);
    right: 1rem;
    color: transparent;
    background-image: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: 0.5s ease-out;
    cursor: pointer; }
    .menu .menu__title .fas:hover {
      opacity: 1; }
  @media only screen and (min-width: 768px) {
    .menu {
      grid-template-columns: 1fr;
      padding-bottom: 30px;
      position: relative;
      margin: auto;
      width: 70%;
      margin-top: -65px; } }

.menu__plats {
  display: grid;
  gap: 1rem; }
  @media only screen and (max-width: 768px) {
    .menu__plats {
      grid-template-columns: 1fr; } }
  @media only screen and (min-width: 768px) {
    .menu__plats {
      grid-template-columns: 1fr; } }

.menu__wrap {
  padding: 0 4rem; }
  @media only screen and (max-width: 768px) {
    .menu__wrap {
      padding: 0 1rem;
      margin-bottom: 3rem; } }
  @media only screen and (min-width: 768px) {
    .menu__wrap {
      padding: 0 4rem;
      padding-top: 3rem;
      padding-bottom: 3rem; } }

.menu__choice {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 4px 5px 1px #c9c8c8;
  cursor: pointer;
  animation: pop 2s; }

.menu__content {
  display: flex;
  overflow: hidden; }
  .menu__content:hover .menu__confirm {
    margin-right: 40px; }
  .menu__content:active .menu__confirm i.fa-solid {
    animation: spin 1s; }

.menu__txt {
  font-size: 1.1rem;
  padding: 1rem; }

.menu__price {
  margin-left: auto;
  font-weight: 700;
  padding-top: 40px;
  padding-right: 20px; }

.menu__confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  font-weight: 700;
  margin-right: -4.2rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  transition-duration: .4s; }
  .menu__confirm i.fa-check {
    background: white;
    color: #99e2d0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center; }

.menu .menu__content:hover .menu__confirm {
  margin-right: 0; }
  .menu .menu__content:hover .menu__confirm i.fa-check {
    animation: spin 1s; }

.discover {
  padding-bottom: 4rem; }
