@import "../utils/mixup";
@import "../utils/variables";

.discovery {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    align-items: center;
    padding-bottom: 60px;
& h2 {
    font-size: 35px;
    text-align: center;
}
& button {
    @include btn
}
& button:hover {
    transform: scale(1.01);
    opacity: 0.9;
    @include ombrage
}
}