@import "../utils/mixup";
@import "../utils/variables";

.discovery {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 60px;
& h2 {
    font-size: 28px;
        
}

& P {
    white-space: nowrap;
}
& button {
    @include btn
    margin-top: 25px;
}
& button:hover {
    transform: scale(1.01);
    opacity: 0.9;
    @include ombrage
}

.break {
    @media only screen and (min-width: 768px) {
        border: 1px solid red;
        display: none;
            }
}
}